<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055432966973-4f3l5ovl4lqtefbbh6ddoiv1lbspr5og.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055432966973-4f3l5ovl4lqtefbbh6ddoiv1lbspr5og</string>
	<key>API_KEY</key>
	<string>AIzaSyCP5CwMLvy9H84oUIgyOiZ-ZdIBYUfw2nk</string>
	<key>GCM_SENDER_ID</key>
	<string>1055432966973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hasensprung.project-Emotion</string>
	<key>PROJECT_ID</key>
	<string>project-emotion-aaaa0</string>
	<key>STORAGE_BUCKET</key>
	<string>project-emotion-aaaa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055432966973:ios:5ebd7bd01d21a3fc437b54</string>
</dict>
</plist>